body{
  background-color: rgb(68, 28, 78);
}
.container{
  background-color: white;
  max-width: 800px;
  place-content: center;
}
#adatok{
  border: 1px black;
}
.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}